*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
body{
	background-color: #e8e5e5;
}
.wrapper{
	width:410px;
	background-color: #f5f5f5;
	border:1px solid ##ada2a2;
	box-shadow: 0px 0px 30px 5px #ada2a2;
	margin:60px auto;
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
}
.wrapper .head{
	width:100%;
	background-color: #f9f9f9;
	
	/*border:1px solid black;*/
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

}
.head .h-top{
	width:100%;
	height: 40px;
	/*border:1px solid black;*/
	display: flex;
	flex-direction: row;

}
.h-top .ht-left{
	width:133px;
	/*border:1px solid black;*/
	display: flex;
	align-items: center;
	 padding-left:10px;
}
.h-top .ht-left img{
	width:72px;
	height:24px;
	

}
.h-top .ht-right{
	flex-grow: 1;
	/*border:1px solid black;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right: 10px;

}
.h-top .ht-right div:nth-of-type(1){
	color:#fff;
	background-color:#f08300;
	border-radius: 10px;
	padding:0px 5px;
}
.head .h-bottom{
	width:100%;
	height: 49px;
	padding:0px 7px 5px;
	border-bottom:1px solid #c8c8c8;
	display: flex;
	flex-direction:row;
	/*box-sizing: content-box;*/

}
.head .h-bottom input:nth-of-type(2){
	width:74px;
	flex-grow:0;
	background-color: #f0f0f0;
	border:1px solid #a9a9a9;
	border-left: none;
	font-size: 16px;
	font-weight: bold;
}
.head .h-bottom input{
	height: 42px;
	flex-grow: 1;
	background-color: #fff;
	outline: none;
	
}
.wrapper .body{
	width:100%;
	height:240px;
	margin-top: 7px;
	/*border:1px solid black;*/
	background-color: #fff;
	padding:16px 20px;
	display: flex;
	flex-direction: column;

}
.body .b-head{
	width:100%;
	height:144px;
	flex-grow: 0;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
.body .b-left{
	 width:262px;
	 height:84px;
	 display: flex;
	 flex-direction: column;
	 justify-content:space-between;
	  
}
.body .b-left .b-name{
	width:100%;
	font-size: 25px;
	font-weight: bold;
		
}
.body .b-left .introduce{
	width:100%;
	font-size: 14px;
	color:#999999;
}
.body .b-right{
	width:108px;
	height:144px;
}
.body .b-right img{
	width:100%;
	height:100%;
}
.body .b-bottom{
	width:100%;
	flex-grow: 1;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 14px;
}
.b-bottom span:not(:nth-of-type(1)){
	color:#999999;
}
.wrapper .foot{
	margin-top:16px;
	background-color: #fff;
	width:100%;
	 
	/*border:1px solid black;*/
	padding:16px 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.wrapper .foot div{
	margin-bottom: 10px;
	font-size:14px;
}
.wrapper .foot .f-top{
	width:348px;
	height:57px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	
	color:rgba(0,0,0,.86);
}
.wrapper .foot .f-top span{
	font-size: 12px;
	color:#fff;
	background-color: #4088f7;
	border-radius: 2px;
	padding:1px;
	margin-right:2px;
}
.wrapper .foot .f-center span{
	margin-right: 7px;
}
.wrapper .foot .f-center span:nth-of-type(1),.wrapper .foot .f-bottom span:nth-of-type(1){
	color:rgba(0,0,0,.4);

}
.wrapper .foot .f-center span:nth-of-type(3),.wrapper .foot .f-center span:nth-of-type(4){
	background-color: rgba(244,244,244,1);
	padding:5px 10px;
	border-radius: 3px;
}